th.th-rotated {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
}

th.th-rotated > div {
  transform:
    /* Magic Numbers */
    translate(10px, 51px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
  width: 30px;
}
th.th-rotated > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}

.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.identity{}
.purine{}
.pyrimine{}
.transversion{}